@model IEnumerable<CommercialApp.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <td>Id</td>
        <td>Departman</td>
        <td>Detaylar</td>
        <td>Güncelle</td>
        <td>Sil</td>
    </tr>
    @foreach (var dep in Model)
    {
        <tr>
            <td>@dep.Id</td>
            <td>@dep.Name</td>
            <td><a asp-action="Details" asp-controller="Department" asp-route-id="@dep.Id" class="btn btn-info">Detay</a></td>
            <td>
                <a asp-action="UpdateDepartment" asp-route-id="@dep.Id" class="btn btn-warning">Güncelle</a>
            </td>
            <td>
                <form asp-action="DeleteDepartment" method="post">
                    <input type="hidden" name="id" value="@dep.Id" />
                    <button type="submit" class="btn btn-danger">Sil</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="CreateDepartment" class="btn btn-primary">Departman Ekle</a>